html,
body {
	height: 100%;
}
body {
	color: #666666;
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}
#wrap > .container {
	border-top: 5px solid #666666;
}

a {
	color: #666666;
}
a:hover,
a:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #666666;
}

/*
|--------------------------------------------------------------------------
| Utility
|--------------------------------------------------------------------------
*/
.circle {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);

	-webkit-border-radius: 99em;
	   -moz-border-radius: 99em;
			border-radius: 99em;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
header {
	padding: 10px 0;
}
.header-menu {
	padding-top: 15px;
	margin-bottom: 0;
}
.header-menu > li > a {
	border-radius: 0;
}
.header-menu > li > a:hover,
.header-menu > li > a:focus {
	background-color: #666666;
}
.header-title a {
	color: #333333;
}
.header-title a:hover,
.header-title a:focus {
	color: #0088cc;
	background-color: transparent;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
#push, footer {
	height: 60px;
}
footer {
	color: #ffffff;
	overflow: hidden;
	background-color: #666666;
}
footer > .container {
	padding: 8px 0;
}

/*
|--------------------------------------------------------------------------
| Posts
|--------------------------------------------------------------------------
*/
.post,
.post-single {
	padding: 10px 0;
	margin-bottom: 20px;
	border-top: 1px solid #efefef;
}
.post-avatar {
	margin: 1em auto;
}
.post-image {
	margin-bottom: 10px;
}
.post-title {
	margin-top: 0;
	color: #bbbbbb;
	font-weight: 500;
}
.post-info {
	color: #999999;
	font-size: 0.9em;
	text-align: right;
	margin-bottom: 10px;
}
.post-info strong {
	color: #333333;
}
.post-single .post-info {
	color: #333333;
	font-size: 1.1em;
	text-align: center;
}
.post-single .post-image {
	margin-bottom: 20px;
}
.post-tags {
	padding: 10px 0;
	margin-top: 20px;
	border-top: 1px solid #efefef;
}
.post-tags > a {
	float: left;
	color: #ffffff;
	margin: 3px;
	padding: 3px 6px;
	display: block;
	font-size: 0.9em;
	background-color: #666666;
}
.post-tags > a:hover {
	background-color: #333333;
}






@media (max-width: 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
