<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		{% if is_home() %}
			<title>{{ gorilla.settings('website_title') }}</title>
			<meta name="title" content="{{ gorilla.settings('website_title') }}">
		{% else %}
			<title>{{ is_tag_filter() ? tag.name : post.meta.title }} &middot; {{ gorilla.settings('website_title') }}</title>
			{{ post.meta.render }}
		{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>

		{{ style("assets/css/bootstrap.min.css") }}
		{{ style("assets/css/bootstrap-responsive.min.css") }}
		{{ style("assets/css/plugins/magnific/magnific-popup.css") }}
		{{ style("assets/css/style.css") }}
		{{ style("assets/css/colors/green.css") }}

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="wrap">
			<div class="container">
				<header>
					<div class="row">
						<div class="span6">
							<h1 class="header-title">
								<a href="/">{{ gorilla.settings('website_title') }}</a>

								{% set slogan = gorilla.settings('website_slogan') %}
								{% if slogan %}<small>&emsp; {{ slogan }}</small>{% endif %}
							</h1>
						</div>
						<div class="span6">
							<ul class="header-menu nav nav-pills pull-right">
								<li class="active"><a href="{{ url('home') }}">Home</a></li>
								<li><a href="{{ url('rss') }}">RSS</a></li>
							</ul>
						</div>
					</div>
				</header>

				{% block contents %}{% endblock %}
			</div>

			<div id="push"></div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="span6">
						{{ gorilla.settings('website_footer') }}
					</div>
					<div class="span6">
						<div class="text-right">
							powered by <a href="http://billmn.github.io/gorilla/" target="_blank">Gorilla</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- scripts -->
		{{ script("assets/js/jquery.min.js") }}
		{{ script("assets/js/bootstrap.min.js") }}
		{{ script("assets/js/plugins/magnific/jquery.magnific-popup.min.js") }}
		{{ script("assets/js/scripts.js") }}
	</body>
</html>
