
/*
|--------------------------------------------------------------------------
| MAIN
|--------------------------------------------------------------------------
*/
html, body {
	height: 100%;
	min-height: 100%;
}
#sidebar {
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	color: #ffffff;
	padding: 0 15px;
	position: fixed;
	background-color: #18213D;
	border-right: 1px solid #060D23;
}
#contents {
	padding-top: 20px;
	padding-left: 240px;
}
body.without-sidebar #contents {
	padding-left: 0;
}

/*
|--------------------------------------------------------------------------
| RESET
|--------------------------------------------------------------------------
*/
.alert-box p {
	margin: 0;
}
textarea {
	height: auto;
}

/*
|--------------------------------------------------------------------------
| GORILLA
|--------------------------------------------------------------------------
*/
.gorilla,
.gorilla-sub {
	color: #666666;
	text-transform: lowercase;
	font-family: 'Titillium Web', sans-serif;
}
#sidebar .gorilla,
#sidebar .gorilla-sub {
	color: #efefef;
	margin-bottom: 0;
}
#sidebar .gorilla-sub {
	margin-bottom: 10px;
}
#sidebar a:hover .gorilla {
	color: #060D23;
	text-shadow: 0 0 10px #ffffff,
				 0 0 20px #ffffff,
				 0 0 30px #ffffff,
				 0 0 40px #efefef,
				 0 0 70px #efefef,
				 0 0 80px #efefef,
				 0 0 100px #efefef,
				 0 0 150px #efefef;
}


/*
|--------------------------------------------------------------------------
| UTILITY
|--------------------------------------------------------------------------
*/
.text-alert   { color: #c60f13; }
.text-muted   { color: #666666; }
.text-success { color: #5da423; }

.full-width { width: 100%; }

input:invalid,
input:focus:invalid {
	border-color: #C60F13;
}

.circle {
	display: block;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	border: 2px solid #eeeeee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

	-webkit-border-radius: 99em;
	   -moz-border-radius: 99em;
	        border-radius: 99em;
}

table .actions {
	text-align: right;
}
table .actions .button {
	margin-bottom: 0;
}

.form-actions {
	margin-top: 20px;
}

/*
|--------------------------------------------------------------------------
| SELECT 2
|--------------------------------------------------------------------------
*/
.select2-container .select2-choice {
	height: 32px;
	line-height: 32px;
}

/*
|--------------------------------------------------------------------------
| TINYMCE
|--------------------------------------------------------------------------
*/
.mce-container button:hover,
.mce-container button:focus {
	background-color: inherit;
}

/*
|--------------------------------------------------------------------------
| PICKADATE
|--------------------------------------------------------------------------
*/
.picker__footer button {
	color: #000000;
}

/*
|--------------------------------------------------------------------------
| SIDEBAR
|--------------------------------------------------------------------------
*/
#sidebar #copyright {
	bottom: 1em;
	font-size: 0.7em;
	position: absolute;
}
#sidebar [class*="foundicon-"] {
	margin-right: 5px;
}
#sidebar .side-nav li.active a {
	font-weight: normal;
}
#sidebar .side-nav li a {
	color: #efefef;
	padding: 5px;
}
#sidebar .side-nav li.active,
#sidebar .side-nav li:hover a {
	background-color: #060D23;
}
#sidebar #profile,
#sidebar .side-nav li.divider {
	border-top: 2px solid #060D23;
}

/* User profile */
#sidebar #profile .profile-username {
	margin-bottom: 10px;
}
#sidebar #profile .profile-links {
	font-size: 0.7em;
}
#sidebar #profile .profile-links a {
	margin: 0 5px;
}

/*
|--------------------------------------------------------------------------
| AUTH
|--------------------------------------------------------------------------
*/
#auth {
	background-color: #f9f9f9;
}

#auth #remember_label {
	margin-bottom: 20px;
}

/*
|--------------------------------------------------------------------------
| PAGE HEADER
|--------------------------------------------------------------------------
*/
.page-header {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header .button {
	margin-top: 0;
	margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| MEDIA
|--------------------------------------------------------------------------
*/
body.without-sidebar .upload.button {
	display: none;
}
.media-item {
	position: relative;
	text-align: center;
	border: 1px solid #efefef;
}
.media-delete {
	top: 2px;
	right: 2px;
	width: 30px;
	height: 30px;
	display: none;
	line-height: 25px;
	position: absolute;
}
.media-item:hover .media-delete {
	display: block;
}
.media-item .media-delete:hover {
	background-color: #A8080B;
}
.media-use {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	color: #ffffff;
	font-size: 100px;
	text-align: center;
	position: absolute;
	background: rgba(93, 164, 35, 0.5);
}
.media-item:hover .media-use {
	display: block;
	color: #ffffff;
}
.media-name,
.media-size {
	font-size: 0.6em;
}
.image-thumb {
	border: 2px solid #dddddd;
}

/* Modal */
#mediaModal {
	padding: 0;
	height: 80%;
}
#mediaModal ul {
	padding: 0 1em;
}
#mediaModal .close-reveal-modal {
	top: 0.3em;
}
#mediaModal .modal-title {
	text-align: center;
	border-bottom: 1px solid #efefef;
}
#mediaModal .modal-content {
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}

