@media only screen and (min-width: 768px) {

	#sidebar .side-nav {
		padding-bottom: 0.6em;
	}
	#sidebar .gorilla {
		font-size: 2.5em;
	}
	#sidebar .gorilla-sub {
		font-size: 0.8em;
	}
	#sidebar .side-nav li a {
		font-size: 0.85em;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	#sidebar #profile,
	#sidebar .side-nav li.divider {
		border-top-width: 1px;
	}

}